.body_backgorund 
{
    background-image:url(happybday.gif);
    background-position:center;
    background-size:400px x 300px;

}
#myCanvas
{
 border-width: 10px;
 background-color: white;
 border-style: ridge;
 border-color: darkviolet;  
}

button{
    font-size: 30px;
    background-color: rgb(255, 55, 188);
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 350px;
    height: 200px;
     
}

